h3{
  color: blue;
  font-size: 50px;
  font-family: sans-serif;
}
.images{
  width:40%;
  float:right;
}
.music{
  float:left;
  margin-right: 50px;
}
.paragraph{
  float:right;

}
.personal{
  width: 100%;
  display: flex;

}
